[include]
        path = ./delta/delta.gitconfig
        path = ./git-worktrees/git-worktrees.gitconfig

[diff]
        submodule = log

[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an <%ae>%Creset' --abbrev-commit
