[include]
        path = ./delta/delta.gitconfig

[diff]
        submodule = log

[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an <%ae>%Creset' --abbrev-commit
        clone-for-worktrees = "!$HOME/Documents/PowerShell/clone-for-worktrees/entrypoint.sh"