[include]
        path = ./delta/delta.gitconfig
        path = ./git-worktrees/git-worktrees.gitconfig
        path = ./lazygit/lazygit.gitconfig

[diff]
        submodule = log

[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an <%ae>%Creset' --abbrev-commit
        root = rev-parse --show-toplevel
        nuke = "!f() { export GIT_ASK_YESNO=false; git clean -xdf ; git reset --hard; }; f"
[rerere]
	enabled = true
[pull]
	ff = only
[stash]
	showIncludeUntracked = true
[core]
	fsmonitor = true
	untrackedcache = true
